services:
  ratings:
    build:
      context: ./bookinfo/src/ratings
    container_name: bookinfo-ratings
    ports:
      - "9080:9080"

  details:
    build:
      context: ./bookinfo/src/details
    container_name: bookinfo-details
    ports:
      - "9081:9080"

  reviews:
    build:
      context: ./bookinfo/src/reviews
    container_name: bookinfo-reviews
    environment:
      RATINGS_HOSTNAME: ratings
    ports:
      - "9082:9080"
    depends_on:
      - ratings

  productpage:
    build:
      context: ./bookinfo/src/productpage
    container_name: bookinfo-productpage
    environment:
      DETAILS_HOSTNAME: details
      REVIEWS_HOSTNAME: reviews
    ports:
      - "9083:9080"
    depends_on:
      - details
      - reviews
