name: k6 Performance Test

on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.24
        options: --privileged
    steps:
      - uses: actions/checkout@v3

      - name: Start Bookinfo 
        run: |
          cd bookinfo
          docker compose up -d

      - name: Wait for services
        run: |
          sleep 10 

      - name: Verify containers are running
        run: |
          docker ps

      - name: Verify Bookinfo APIs
        run: |
          cd bookinfo
          docker run --rm --network host -v $PWD:/src appropriate/curl:latest sh /src/verify_endpoints.sh