name: k6 Performance Test

on: [push]

jobs:
  setup:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:20.10.24
        options: --privileged
    steps:
      - uses: actions/checkout@v3

      - name: Start Bookinfo 
        run: |
          docker compose up -d

      - name: Wait for services
        run: |
          sleep 10 

      - name: Verify containers are running
        run: |
          docker ps
      
      - name: Install k6
        run: |
          sudo apt update
          sudo apt install -y gnupg2 curl
          curl -s https://dl.k6.io/key.gpg | sudo apt-key add -
          echo "deb https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt update
          sudo apt install -y k6

      - name: Run k6 performance test
        run: |
          cd bin/
          bash run.sh